spring.datasource.url=jdbc:mysql://localhost:3306/redSocial
spring.datasource.username=root
spring.datasource.password=root
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect
spring.jpa.show-sql=true

spring.application.name=API red social android
firebase.credentials.path=
gcs.bucket.name=
gcs.credentials.path=

# Tamaño máximo por archivo
spring.servlet.multipart.max-file-size=50MB

# Tamaño máximo del request completo (suma de todos los archivos + campos)
spring.servlet.multipart.max-request-size=200MB